# Virtual environment
.venv/
venv/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db
prompts.db

# Python cache
__pycache__/
*.py[cod]

imagine-code.zip
ADE_Experiment.ipynb
extra.py
image_generation_loop.ipynb
parsed_doc.json
out.json
GIFTING & HOLIDAY_TRENDS_FINAL_CLIENT PRES_082025_MICHAELS_2026  (2).pdf
generated_standrd.png
imagine-code/
outputs/
ADE_Experiment_1.ipynb


